.login__window {
  color: var(--color-text);
  size: 50px;
  display: flex;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 550px) {

}