.home__content {
  color: var(--color-text);
  padding: 16px;
  height: 100%;
  width: 100%;
  background: var(--bg-gradient);
}

.home__filter {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  justify-items: center;
}

.box_bedrock button, .box_java button {
  background: rgb(255, 255, 255, 50%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.box_bedrock {
  grid-area: 2 / 1 / 4 / 6;
}

.box_java {
  grid-area: 2 / 7 / 4 / 12;
}

.box_bedrock p, .box_java p {
  color: var(--color-text);
  font-size: 20px;
}

.div3 { grid-area: 5 / 1 / 6 / 3; }
.div4 { grid-area: 5 / 4 / 6 / 6; }
.div5 { grid-area: 5 / 7 / 6 / 9; }
.div6 { grid-area: 5 / 10 / 6 / 12; }
.div7 { grid-area: 7 / 1 / 8 / 3; }
.div8 { grid-area: 7 / 4 / 8 / 6; }
.div9 { grid-area: 7 / 7 / 8 / 9; }
.div10 { grid-area: 7 / 10 / 8 / 12; }
.div11 { grid-area: 9 / 1 / 10 / 3; }
.div12 { grid-area: 9 / 4 / 10 / 6; }
.div13 { grid-area: 9 / 7 / 10 / 9; }
.div14 { grid-area: 9 / 10 / 10 / 12; }
.div15 { grid-area: 11 / 1 / 13 / 12; }