.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

.footer__copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer__copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: var(--color-text);
}
