* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: unset;
}

body {
  background: black;
}

.App {
  color: var(--color-text);
  background: var(--bg-gradient);
}