* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: unset;
}

.App {
  color: var(--color-text);
  background: var(--bg-gradient);
  max-width: 1310px;
  margin: 0 auto;
}