@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'LemonMilk';
  src: local('LemonMilk'), url('./resources/fonts/LEMONMILK-Medium.otf') format('opentype');
}

:root {
  --font-family: 'Manrope', sans-serif;
  --font-highlight: 'LemonMilk', arial, helvetica, sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-bg: #efefef;
  --color-footer :#c2c2c2;
  --color-text: #040C18;

  --color-search: rgb(167, 198, 230);

  --color-gr0: rgba(172, 185, 199, 1) 0%;
  --color-gr1: rgba(244, 244, 244, 1) 100%;

  --bg-gradient:-moz-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* safari 5.1+,chrome 10+ */
  --bg-gradient:-webkit-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* opera 11.10+ */
  --bg-gradient:-o-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* ie 10+ */
  --bg-gradient:-ms-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* global 92%+ browsers support */
  --bg-gradient:radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
}
[data-theme='dark'] {
  --color-bg: #040C18;
  --color-footer:  #031B34;
  --color-text: #FFF;

  --color-search: rgb(0, 102, 204 , 50%);

  --font-family: 'Manrope', sans-serif;
  --font-highlight: 'LemonMilk', arial, helvetica, sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-gr0: rgba(0, 40, 83, 1) 0%;
  --color-gr1: rgba(4, 12, 24, 1) 100%;

  --bg-gradient:-moz-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* safari 5.1+,chrome 10+ */
  --bg-gradient:-webkit-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* opera 11.10+ */
  --bg-gradient:-o-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* ie 10+ */
  --bg-gradient:-ms-radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
  /* global 92%+ browsers support */
  --bg-gradient:radial-gradient(circle at 3% 25%, var(--color-gr0), var(--color-gr1));
}